.approv-card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.approv-card-h3 {
  margin: 10px;
}

.no_recipe {
  font-size: 30px;
  margin: 50px;
  font-weight: bold;
  color: rgba(48, 48, 48, 0.593);
}