.user-login-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  text-align: center;
  background: #f0eae2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  width: 400px;
  height: 550px;
}

.input_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.input_container input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.form_login {
  display: flex;
  flex-direction: column;
  height: 525px;
  justify-content: space-evenly;
}

.btn_login {
  width: 50%;
  margin-left: 10px;
  margin-top: 10px;
  height: 48px;
  padding: 0 24px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #151922;
  margin-right: 8px;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
}

.disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tooltip_balloon_login_error {
  --balloon-text-color: #f0eae2;
  --balloon-color: #890f1f;
  --balloon-font-size: 18px;
  left: 1px;
  top: -35px;
}

.tooltip_balloon_login_email {
  --balloon-text-color: #f0eae2;
  --balloon-color: #890f1f;
  --balloon-font-size: 18px;
  left: -60px;
  top: -135px;
}

.tooltip_balloon_login_password {
  --balloon-text-color: #f0eae2;
  --balloon-color: #890f1f;
  --balloon-font-size: 18px;
  left: -60px;
  top: -71px;
}