.menu-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 20px;
  width: 100%;
  margin-top: auto;
  align-items: center;
  margin-top: 20px;
  background-color: #f0eae2;
  padding: 8px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-link {
  padding: 10px 20px;
}