* {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.login-color {
  color: #2176ff;
}

.black-li {
  color: #151922;
}

.green-li {
  color: #20bf55;
}

.register_list {
  list-style: none;
  text-align: left;
}

.recipe_input_register {
  padding: 10px;
  font-size: 16px;
}

.form_register {
  gap: 12px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.register_card {
  margin: auto;
  background: #f0eae2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  width: 400px;
  height: 630px;
}

.btn_register {
  width: 50%;
  margin-left: 90px;
  margin-top: 10px;
  height: 48px;
  padding: 0 24px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #151922;
  margin-right: 8px;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
}

.login_a {
  margin-top: 40px;
}


.tooltip_balloon_register {
  --balloon-text-color: #f0eae2;
  --balloon-color: #890f1f;
  --balloon-font-size: 18px;
  left: 1px;
  top: -35px;
}

.disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}