body {
  font: 400 15px/20px "Poppins", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.login-color {
  color: #ff6a28
}

.error-balloon {
  position: relative;
  display: inline-block;
}

.error-message {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 200px;
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}