h1 {
  padding: 10px;
}

.home-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -10px;
}

.recipe-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
  text-align: center;
  box-shadow: none;
}

.recipe-card.single-card {
  flex: 0 0 calc(100% - 20px);
}

.recipe-card h3 {
  margin: 0;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.recipe-author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-class {
  text-decoration: none;
  color: #151922;
}

img {
  border-radius: 20px;
}