.button-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
}